<div id="main-container" class="container-sm bg-light">
    <h1 class="text-center">Welcome to UniRed</h1>

    <h2> Select the roll you want to use</h2>

    <ul>
        <li>Administrator</li>
        <li>Proprietary</li>
        <li>Resident</li>
    </ul>
</div>


